<div class="global-nav">
  <menu class="global-nav__mainmenu-home">
    <li <% if (meta.cat=='HOME' ) { %>class="current"<% } %>>
      <div>
        <a href="<%= meta.absPath %>">
          <i class="icon icon--home"></i><span>HOME</span>
        </a>
      </div>
     </li>
    <li>
      <div>
        <a href="">
          <i class="icon icon--info"></i>
          <span><span class="fs--s">学校から<span class="pc">の</span></span><span
              class="pc">お知らせ</span></span>
          </a>
      </div>
    </li>
    <li <% if (meta.cat=='学年' ) { %>class="current"<% } %>>
      <div>
        <a href="<%= meta.absPath %>school.html">
          <i class="icon icon--groups"></i><span>学年</span>
        </a>
      </div>
    </li>
    <li <% if (meta.cat=='公文式' ) { %>class="current"<% } %>>
      <div>
        <a href="<%= meta.absPath %>kumon.html">
          <i class="icon icon--kumon"></i><span>公文式</span>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="">
          <i class="icon icon--dormitory"></i><span>寮</span>
        </a>
      </div>
    </li>
    <li <% if (meta.cat=='アルバム' ) { %>class="current"<% } %>>
      <div>
        <a href="<%= meta.absPath %>album.html">
          <i class="icon icon--album"></i><span>アルバム</span>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="">
          <i class="icon icon--busyo"></i><span>各部署</span>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="<%= meta.absPath %>album.html">
          <i class="icon icon--document"></i><span>書類</span>
        </a>
      </div>
    </li>
  </menu>
</div>