
  <section class="sec sec--post">
    <header class="post-header">
      <div class="post-header__main">
        <div class="post-header__status">
          <span class="tag tag--green">未読</span>
          <time date="2023-10-25">2023.10.25</time>
        </div>
        <div class="post-header__title">
          <div class="post-categorys">
            <span class="cat" style="color:#009B63;border-color:#009B63">学校からのお知らせ</span>
            <span class="cat" style="color:#004098;border-color:#004098">事務室より</span>
            <span class="cat" style="color:#CB79D9;border-color:#CB79D9">公文式放課後教室からのお知らせ</span>
            <span class="cat" style="color:#004098;border-color:#004098">サブカテゴリー</span>
            <% if (meta.cat2=='高1' ) { %><span class="cat cat--h1">高1</span><% } %>
            <% if (meta.cat2=='高2' ) { %><span class="cat cat--h2">高2</span><% } %>
            <% if (meta.cat2=='高3' ) { %><span class="cat cat--h3">高3</span><% } %>
            <% if (meta.cat2=='中１' ) { %><span class="cat cat--j1">中１</span><% } %>
            <% if (meta.cat2=='中2' ) { %><span class="cat cat--j2">中2</span><% } %>
            <% if (meta.cat2=='中3' ) { %><span class="cat cat--j3">中3</span><% } %>
          </div>
          <h2>記事タイトルが入ります記事タイトルが入ります記事タイトルが入ります</h2>
          <strong class="read">記事リードが入ります。（サブタイトルなど）</strong>
        </div>
      </div>
      <div class="post-header__thumbnail pdf">
        <img src="<%= meta.absPath %>assets/img/post_pdf_thumb.jpg" alt="ALTが入ります。">
      </div>
    </header>
    <div class="post-contents">
      <div class="post-contents__text">
        <p>ここに記事の内容が入ります。テキストテキストテキスト。TEXT TEXT<br>TEXT TEXT。ここに記事の内容が入ります。テキストテキストテキスト。
          TEXT TEXT TEXT TEXT。</p>
      </div>
      <ul class="content--gallery pdf">
        <li>
          <button data-m-target="modal1" data-m-src="<%= meta.absPath %>assets/pdf/post_pdf.pdf" class="pdf">
            <img src="<%= meta.absPath %>assets/img/post_pdf_thumb.jpg" alt="ALTが入ります。">
            <div class="file-size">ファイル名(0.0MB)</div>
          </button>
          <div class="pdf-dl">
            <a href="<%= meta.absPath %>assets/pdf/post_pdf.pdf" download target="_blank"><div class="btn--t01 color--blue"><i class="icon icon--download"></i>ダウンロード</div></a>
          </div>
        </li>
        <li>
          <button data-m-target="modal1" data-m-src="<%= meta.absPath %>assets/pdf/post_pdf.pdf" class="pdf">
            <img src="<%= meta.absPath %>assets/img/post_pdf_thumb.jpg" alt="ALTが入ります。">
            <div class="file-size">ファイル名(0.0MB)</div>
          </button>
          <div class="pdf-dl">
            <a href="<%= meta.absPath %>assets/pdf/post_pdf.pdf" download target="_blank"><div class="btn--t01 color--blue"><i class="icon icon--download"></i>ダウンロード</div></a>
          </div>
        </li>
        <li>
          <button data-m-target="modal1" data-m-src="<%= meta.absPath %>assets/pdf/post_pdf.pdf" class="pdf">
            <img src="<%= meta.absPath %>assets/img/post_pdf_thumb.jpg" alt="ALTが入ります。">
            <div class="file-size">ファイル名(0.0MB)</div>
          </button>
          <div class="pdf-dl">
            <a href="<%= meta.absPath %>assets/pdf/post_pdf.pdf" download target="_blank"><div class="btn--t01 color--blue"><i class="icon icon--download"></i>ダウンロード</div></a>
          </div>
        </li>
        <li>
          <button data-m-target="modal1" data-m-src="<%= meta.absPath %>assets/pdf/post_pdf.pdf" class="pdf">
            <img src="<%= meta.absPath %>assets/img/post_pdf_thumb.jpg" alt="ALTが入ります。">
            <div class="file-size">ファイル名(0.0MB)</div>
          </button>
          <div class="pdf-dl">
            <a href="<%= meta.absPath %>assets/pdf/post_pdf.pdf" download target="_blank"><div class="btn--t01 color--blue"><i class="icon icon--download"></i>ダウンロード</div></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="post-nav">
      <menu class="post-nav__pagination">
        <li>
          <a href="" class="btn--circle"><i class="icon icon--circle reverse"></i>前の記事のタイトルが入ります前の記事のタイトルが入ります前の記事のタイトルが入ります前の記事のタイトルが入ります</a>
        </li>
        <li>
          <a href="" class="btn--circle">前の記事のタイトルが入ります<i class="icon icon--circle"></i></a>
        </li>
      </menu>
      <a href="<%= meta.absPath %>school.html" class="btn--t01 m--auto"><i class="icon icon--start reverse fs--10"></i>一覧へ戻る</a>
    </div>
  </section>